<% @PAGE_TITLE = "Photo Sets" %>

<% links = will_paginate(@sets, :previous_label => "« Newer Sets", :next_label => "Older Sets »", :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered") %>

<%= links %>

<div id="ag_set_list"><ul>
<%= render :partial => "set", :collection => @sets %>
</div></ul>
<br style="clear: both"/>

<%= links %>