<% @PAGE_TITLE = "Photo Sets" %>

<% links = paginate @sets, :class => "pagination pagination-centered" %>

<%= links %>

<div id="ag_set_list"><ul>
<%= render :partial => "set", :collection => @sets %>
</div></ul>
<br style="clear: both"/>

<%= links %>