<% @PAGE_TITLE = "Sets" %>

<% links = will_paginate(@sets, :previous_label => "« Newer Sets", :next_label => "Older Sets »") %>

<h1>Sets</h1>

<%= links %>

<div id="ag_set_list"><ul>
<%= render :partial => "set", :collection => @sets %>
</div></ul>

<%= links %>