<!DOCTYPE html>
<html>
<head>
  <title>AssetGallery</title>
  <%= stylesheet_link_tag    "AssetGallery/application" %>
  <%= javascript_include_tag "AssetGallery/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
