#ag_set_list {
    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       margin-right: -12px;
    }
    
    li {
        display: inline;
        float: left;
        width: 156px;
        height: 220px;
        margin-right: 12px;
    }
    
    button {
       width: 156px;
       padding: 0;
       
       p {
           
       }
    }
}

#ag_set_viewer {
    position: relative;
    overflow: hidden;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            float: left;
        }       
    }
    
}

.ag_set_assets {    
    button {
        padding: 0;
    }
    
    button:hover {
        cursor: pointer;
    }
}

.ag_W {
    .ag_credit {
       text-align: right;
       font-size: 0.8em;
       color: #999;
    }
    
}