#ag_set_list {
    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       margin-right: -12px;
    }
    
    li {
        display: inline;
        float: left;
        width: 156px;
        height: 220px;
        margin-right: 12px;
    }
    
    button {
       width: 156px;
       padding: 0;
       
       p {
           
       }
    }
}

#ag_set_viewer {
    position: relative;
    overflow: hidden;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            display: inline;
            float: left;
        }       
    }
    
}

.ag_set_assets {    
    button {
        padding: 0;
    }
    
    button:hover {
        cursor: pointer;
    }
}

.ag_W {
    .ag_credit {
       text-align: right;
       font-size: 0.8em;
       color: #999;
    }
    
}

.ag_slide_controller {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    
    ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
    }
    
    li {
        position: absolute;
        margin: 0;
        padding: 0;
    }    
}

.ag_slide_text {
    margin: 4px auto;
    padding: 4px;
    background: rgba(40,15,0,0.6);
    color: #ddd;
    border-radius: 8px;
}    


.ag_slide_nav {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
    background: rgba(0,0,0,0.5);
    
    div {
       display: inline;
       float: left;
       text-align: center;
    }
    
    button {
        background: none;
    	display: inline-block; 
    	padding: 3px 5px; 
    	color: #999; 
    	text-decoration: none;
    	border: none;
    	position: relative;
    	cursor: pointer;
    }
    
    button.prev-arrow {
	   background: url("/assets/asset_gallery/arrow-left.gif") no-repeat 0 4px;
	   padding-left: 20px;
	}
	
	button.next-arrow {
	    background: url("/assets/asset_gallery/arrow-right.gif") no-repeat 100% 4px;
	    padding-right: 20px;
	}
    
    button.disabled {
        color: #bbb;
    }
    
    button.current {
        border: 1px solid #ea6;
    }
}
